#mainContent {
	padding: 50px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	width: 500px;
	height: 600px;
}

#wrapper {
	padding: 20px;
}

#header {
	color: red;
	font-size: 50px;
}

#myCanvas {
	border-style: solid;
	border-width: 2px;
	width: 300px;
	height: 300px;


}

